footer {
    position: relative;
    bottom: 0;
    background-color: #AB2829;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    padding: 2rem;
    font-size: 0.9rem;


    div {
        img {
            width: 100px;
        }

    }

    .redes-footer {
        a {
            img {
                width: 45px;
            }
        }
    }
}