@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.home {
    .seccionprincipal {
        background-image: url(../../img/Background.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        h1 {
            font-size: clamp(1.8rem, 5vw, 3.5rem);
            color: #000000;
            text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.9);
            margin-bottom: 1.5rem;
            text-align: center;
        }
    }

    .quienessomos-inicio {
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }

        background: linear-gradient(rgba(138, 138, 138, 0.9), rgba(138, 138, 138, 0.9));
        padding: 3rem 2rem;

        h2 {
            text-align: center;
            background-color: variables.$primary-color;
            font-size: 20px;
            color: #ffffff;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 2rem;
        }

        p {
            margin-left: 2%;
            color: variables.$text-black;
            text-align: justify;
            margin-bottom: 1rem;
            font-size: 20px;
            line-height: 1.6;
        }

        .about-container {
            background-color: #f8f9fa;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }
    }

    .nuestros-productos-inicio {
        margin-top: 1%;
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }

        background: linear-gradient(rgba(138, 138, 138, 0.9), rgba(138, 138, 138, 0.9));
        padding: 3rem 2rem;

        h2 {
            text-align: center;
            background-color: variables.$primary-color;
            font-size: 20px;
            color: #ffffff;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 2rem;
        }

        img {
            width: 250px;
            height: 250px;
        }

        .tarjetas {
            margin-top: 1%;
            margin-left: 2%;
            margin-left: 2%;
            margin-bottom: 1%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            div {
                border: 1px solid #EBEDF2;
                width: 270px;
                height: 360px;
                margin: 15px;
                text-align: center;

                h3 {
                    margin: 4px;
                }

                a {
                    text-decoration: none;
                    color: #ffffff;
                    background-color: #AB2829;
                    border-radius: 10px;
                    padding: 5px;
                }

                img {
                    margin-top: 3%;
                    margin: 2%;
                }
            }
        }

        .container-tarjetas {
            background-color: #f8f9fa;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }
    }

    .titulo-obras-index {
        margin-top: 1%;
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }

        background: linear-gradient(rgba(138, 138, 138, 0.9), rgba(138, 138, 138, 0.9));
        padding: 3rem 2rem;

        .container-obras-index {
            background-color: #f8f9fa;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

            h2 {
                text-align: center;
                background-color: variables.$primary-color;
                font-size: 20px;
                color: #ffffff;
                padding: 15px;
                border-radius: 8px;
                margin-bottom: 2rem;
            }
        }

        .galeria-grid-index {

            border: 1px solid #EBEDF2;
            margin: 5px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 200px;
            gap: 10px;
            margin-bottom: 150px;

            .item-grid-index {
                width: 100%;
                height: 100%;
                object-fit: cover;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .grid-1 {
                grid-column: span 2;
            }

            .grid-5 {
                grid-row: span 2;
            }

            .grid-6 {
                grid-column: span 2;
            }
        }
    }




}